.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  &__input {
    display: none;
    &:checked + .slider {
      // background-color: #f3b421;
      background-color: rgb(58, 138, 32, 0.7);
    }
    &:focus + .slider {
      background-color: rgb(58, 138, 32, 0.7);
      // box-shadow: 0 0 1px #f3b421;
    }
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  width: 50px; /* Adjusted width */
  height: 25px; /* Adjusted height */
  border-radius: 20px;
  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
}
