@import "../../../styles/utils/vars";

.accordion-menu {
    list-style-type: none;
    margin: 0 0 4px 20px;
    padding: 4px 0 4px 8px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 0.88em;

    &__list-item {
        &:hover {
            background-color: rgba(108, 129, 127, 0.35);
            cursor: pointer;
            border-radius: 4px;
        }
    }

    &__link {
        display: block;
        width: 100%;
        color: rgba(234, 234, 227, 0.8);
        text-decoration: none;
        padding: 2px 8px;
        white-space: nowrap;

        &.active {
            color: $darkTextColor;
            font-weight: 500;
        }
    }
}
