@import "../../styles/utils/vars";

.end-time {
    width: 100%;
    margin: 0 auto;
    background-color: $backgroundcolor;

    &__header {
        text-align: center;
        padding: 5px;
        &-block {
            font-weight: bold;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__row-block {
        width: 100%;
    }
    &__form-title {
        font-size: 14px;
        font-weight: bold;
        width: 100%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        height: max-content;
        gap: 10px;
    }
    &__content-block {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: $tableHeaderColor;
        border-radius: 4px;
        width: calc(100% - 20px);
    }
    &__content-row-block {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        border-radius: 4px;
        background-color: $backgroundcolor;
        margin: 5px;
        padding: 5px;
        align-items: center;
    }
}

.form-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}

.form-name {
    padding: 5px;
    text-align: center;
    color: white;
}

.form__button:first-of-type {
    display: block;
    color: red;
    height: 35px;
    width: 100px;
    margin: 10px auto;
}

.end-time-form {
    &__button {
        margin: 10px auto;
        width: 100%;
        &:hover {
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14),
                0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            z-index: 1;
            position: relative;
        }
    }
}
