// first style
$headerColor: rgba(4, 91, 98);
$colorGray: rgba(108, 129, 127);
$tableHeaderColor: rgb(140, 177, 186);
$plannerRowColor: rgb(233, 228, 185);
$backgroundcolor: rgba(235, 237, 237);
$sidebarcolor: rgb(42, 97, 111);
$darkTextColor: rgb(234, 234, 227);
$textColor: #212529;
$borderColor: #dee2e6;
$colorBlue: #007bff;
$tableBorderColor: #9dbcc2;

// second style
// $backgroundcolor: #ebeded;
// $colorGray: #176b87;
// $headerColor: #04364a;
// $tableHeaderColor: #64ccc5;
// $plannerRowColor: #dafffb;
