.search-order-container {
  margin: 8px auto; // Added top/bottom margin
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%; // Ensure it takes full width of parent
}

.search-input-wrapper {
  margin-top: 6px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  .search-icon {
    position: absolute;
    left: 10px;
    color: #666;
    z-index: 1;
  }

  .input-component {
    width: 100%;

    input {
      padding-left: 35px; // Make room for the icon
      width: 100%;
      height: 36px;
      min-width: 250px; // Ensure minimum width to fit text
    }
  }
}
