.search-order-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.search-label {
  color: white;
  // font-weight: bold;
}

.search-input-wrapper {
  margin: 0 auto;
  padding-top: 1px;
}

.search-button {
  background: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: transform 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.5);
  }
}
