@import "../../../styles/utils/vars";

.add-point-details {
  &__footer {
    display: flex;
    justify-content: flex-end;
    background-color: $tableHeaderColor;
    border-radius: 4px;
    margin: 5px 0 0;
    padding: 5px;
    gap: 10px;
  }

  &__footer-btn {
    padding: 5px 12px;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 0.84rem;
    font-weight: 600;

    &_save {
      background-color: rgba(53, 186, 60, 1);
    }

    &_close {
      background: rgba(233, 43, 43, 1);
    }
  }
}
