.status-badge {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.status-badge.green {
  background-color: rgb(0, 128, 0, 0.8); /* Green for "Paid" */
}

.status-badge.blue {
  background-color: rgba(0, 0, 255, 0.8); /* Blue for "Sent" */
}

.status-badge.light-blue {
  background-color: rgb(95, 158, 160); /* Orange for "Created" */
}

.status-badge.blue {
  background-color: rgb(15, 78, 237); /* Orange for "Created" */
  color: white;
}

.status-badge.red {
  background-color: rgb(255, 0, 0, 0.8); /* Red for "Late" */
}

.status-badge.gray {
  background-color: gray; /* Gray for "No Invoice" */
}
