@import "../../../styles/utils/vars";

.add-customer-manager {
  width: 100%;
  margin: 0 auto;
  &__title {
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
  }
  &__form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &__input {
    width: 100%;
    border-radius: 4px;
  }
  &__select {
    width: 100%;
    border-radius: 4px;
    option {
      width: 100%;
      border-radius: 4px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    height: max-content;
    gap: 5px;
  }
  &__content-block {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: $tableHeaderColor;
    border-radius: 4px;
    width: 100%;
  }
  &__content-row {
    display: flex;
    background-color: $tableHeaderColor;
    border-radius: 4px;
    &:last-child {
      margin-bottom: 5px;
    }
    &__search {
      margin-bottom: 5px;
    }
    &__formatted-address {
      margin-bottom: 5px;
    }
  }
  &__content-row-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 100%;
    border-radius: 4px;
    background-color: #dbe5ea;
    border: 1px solid #3986f1;
    padding: 5px;
    width: 70%;
    gap: 10px;
    select {
      display: block;
      width: 100%;
    }
    input {
      display: block;
      width: 100%;
      padding: 2px;
    }

    &-map {
      height: 410px;
    }
  }
  &__content-row-block-title {
    font-weight: bold;
    font-size: 14px;
  }
  &__content-row-block-value {
    font-size: 14px;
    padding-left: 20px;
  }
}

.edit-customer-manager {
  &__footer {
    display: flex;
    gap: 5px;
  }
}
