.button {
    border-radius: 5px;
    font-size: 16px;
    background-color: #5b6e6c;
    color: white;
    padding: 5px;
    margin: 5px;
    box-shadow: #9ea7a8;
    text-align: center;
    vertical-align: center;
    &:hover {
        background: #045b62;
        transition: all 0.5s;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14);
        cursor: pointer;
    }

    .button a {
        color: #fff;
        text-decoration: none;
    }
}
