.form-container {
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
}

.add-task-form {
    &__group {
    }

    &__button {
        margin: 10px auto;
        width: 100%;
        &:hover {
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14),
                0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            z-index: 1;
            position: relative;
        }
    }
}
