.planner-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

.table-body-container {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.table-body-container .week {
    min-height: 100%;
}
