.container-sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 45px); // Adjust based on the header height
  position: relative;
  //   overflow: hidden; // Prevents the entire page from scrolling
}
