@import "../utils/vars";

.container-sidebar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 45px);
  overflow: hidden;
  position: relative;
  background-color: $sidebarcolor;
}
