.tenders-container {
  padding: 20px;
  border-radius: 8px;
  // max-width: 1200px;
  // margin: auto;
  font-family: "Arial", sans-serif;
  // max-height: calc(100vh - 40px - 19px); // Ensure it doesn't overflow
}
