@import "../../styles/utils/vars";

.search-container {
  display: flex;
  gap: 10px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
}

.search-title {
  font-weight: 600;
  word-break: break-all;
}

.input-search {
  width: 70%;
  align-items: center;
  border-radius: 4px;
  padding-left: 10px;
  height: 36px;
  border: none;
  position: relative;
  &:focus {
    border: 1px solid $colorBlue;
    outline: none;
    // background-color: ghostwhite;
  }
}

.search-close-btn {
  font-size: 1rem;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
